.counter {
  background-color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  width: 50rem;
  margin: 5rem auto;
}

.counter h1 {
  text-transform: uppercase;
  color: #575757;
  margin: 0;
  font-size: 1rem;
}

.value {
  font-size: 2rem;
  color: #1525b6;
  margin: 2rem 0;
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}
